*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  @extend %cover;

  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  position: fixed;
  overflow: hidden;

  @include media('<=phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  // background: $color-contessa;
  // color: $color-quarter-Spanish-white;
  font-family: $font-suisse-bp;
  position: fixed;

  @include media('<=phone') {
    // font-size: 100px;
  }
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

button {
  border: none;
  background: none;
  color: inherit;
  outline: none;
  cursor: pointer;

  @extend %description-16
}

.content {
  @extend %cover;
}

[data-animation="label"],
[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
